body {
	margin: 0;
  	padding: 0;
	font-family: Arial;
	display: flex;
	flex-direction: column;
	height: 100%;
	min-height: 100vh;
}

header {
	color: white;
	background-color: black;
}

footer {
	margin-top: auto;
    background: black;
    color: white;
    text-align: center;
    padding: 0px;

    width: 100%;
    position: fixed;
    bottom: 0;
}

.topbar {
	text-align: left;
	/*display: flex;*/
	color: white;
	background-color: black;
	padding-left: 10px;
	padding-right: 10px;
}

.sidebar {
	width: 30%;
	background-color: lightgray;
	flex-direction: column;
}

.content {
	flex: 1;
	background-color: white;
	padding-bottom: 300px;
}

.layout {
	flex: 1;
	display: flex;
}

@media (max-width: 768px) {
	.layout {
		flex-direction: column;
	}

	.sidebar {
        width: 100%;
    }
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li {
	margin-top: 5px;
	padding: 5px;
	background-color: white;
	border-style: solid;
	border-color: black;
  border-width: 1px;
}

article {
	margin-top: 5px;
	padding: 5px;
	border-style: ;
	background-color: lightgray;
	border-style: solid;
	border-color: black;
  border-width: 1px;
}

section {
	margin: 10px;
}

h2 {
	padding-left: 10px;
	padding-right: 10px;
	/*padding: 2px;*/
	color: white;
	background-color: gray;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

h3 {
  color: black;
/*	border-style: solid;
	border-color: black;
	border-width: 1px;*/
}

form {
	padding: 5px;
	background-color: lightgray;
	border-style: solid;
	border-color: black;
  border-width: 1px;
}

input, select, textarea {
  font-size: 15px;
  padding: 5px;
  margin: 2px;
}

button {
  font-size: 15px;
  padding: 5px;
  margin: 2px;
}

.centered {
	text-align: center;
}

.hidden {
  display: none;
}

.message {
	background-color: lightgray;
}

table {
	border-style: solid;
	width: 100%;
	border-width: 1px;
	border-collapse: collapse;
}

th, td {
	text-align: left;
	border-style: solid;
	border-width: 1px;
	background-color: white;
	padding: 1px;
}